.jumbotron{
	background-color: firebrick;
	color: white;
	margin-top: 50px;
}

.footer{
	padding: 20px 10px 0 10px;
	background-color: lightgrey;
	margin-bottom: 0;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	padding:2px 0px 2px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-hotel p{
	text-align: left;
}

.card-hotel h4{
	text-align: center;
	color: dimgray;
}

.btn-reserva{
	width: 100%;
	border-radius: 0;
}

.footer-adress-icon{
	padding-right: 10px;

}

.footer-social-icon{
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

