.jumbotron {
	background-color: grey;
	color: black;
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: lightgrey;
	margin-bottom: 0;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 150px;
	padding:2px 5px 2px 5px ;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
}